params {
    ref_genome = "/gpfs/hpc/home/a72094/annotations/GRCh37/Homo_sapiens.GRCh37.dna.primary_assembly.fa"
    dbsnp_vcf = "/gpfs/hpc/home/a72094/datasets/dbSNP/dbSNP_b151_GRCh37p13.vcf.gz"
    plink_prefix = "/gpfs/hpc/home/a72094/datasets/controlled_access/ROSMAP/genotypes/plink_raw/ROSMAP_arrayGenotype"
}