/*
 * ---------------------------------------------------------------------------
 *  Default parameters for the eQTL Catalogue genotype QC pipeline.
 * ---------------------------------------------------------------------------
 */

params {
  ref_genome = "/gpfs/hpc/home/a72094/annotations/GRCh38/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
  chain_file = "data/GRCh37_to_GRCh38.chain"
  r2_thresh = 0.4
}
