/*
 * ---------------------------------------------------------------------------
 *  Default parameters for the eQTL Catalogue genotype QC pipeline.
 * ---------------------------------------------------------------------------
 */

params {
  ref_genome = "/gpfs/hpc/home/a72094/annotations/GRCh38/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
  chain_file = "data/GRCh37_to_GRCh38.chain"
  r2_thresh = 0.4
}

process {

  container = params.container

  cpus = { check_max( 2 * task.attempt, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 4.h * task.attempt, 'time' ) }

  maxRetries = 3
  maxErrors = '-1'

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'terminate' }
  
    // Process-specific resource requirements 
  withName: merge_vcf {
    memory = { check_max( 4.GB * task.attempt, 'memory' ) }
    cpus = 1
    time = { check_max( 12.h * task.attempt, 'time' ) }
  }

  withName: crossmap_genotypes {
    memory = { check_max( 4.GB * task.attempt, 'memory' ) }
    cpus = 1
    time = { check_max( 12.h * task.attempt, 'time' ) }
  }

  withName: keep_chromosomes {
    memory = { check_max( 4.GB * task.attempt, 'memory' ) }
    cpus = 1
    time = { check_max( 12.h * task.attempt, 'time' ) }
  }
}
