/*
 * ---------------------------------------------------------------------------
 *  Default parameters for the eQTL Catalogue genotype QC pipeline.
 * ---------------------------------------------------------------------------
 */

params {
  ref_genome = "/gpfs/hpc/home/a72094/annotations/GRCh37/Homo_sapiens.GRCh37.dna.primary_assembly.fa"
  ref_panel = "/gpfs/hpc/home/a72094/datasets/1000G/GRCh37/1000G_GRCh37_variant_information"
}
