/*
 * ---------------------------------------------------------------------------
 *  Default parameters for the eQTL Catalogue genotype QC pipeline.
 * ---------------------------------------------------------------------------
 */

params {
  // Reference 1000Genome dataset VCF
  main_vcf = "/gpfs/hpc/home/kerimov/1000G_genome/source_data/GRCh38_renamed_ids_no_multiallelic.vcf.gz"
  
  // file with populations of reference VCF
  populations_file = "/gpfs/hpc/home/kerimov/1000G_genome/source_data/igsr_samples.tsv"

  // file with samples (americans) to remove (from reference VCF) for pca mapping
  ids_to_remove_file = "/gpfs/hpc/home/kerimov/1000G_genome/source_data/amrs.txt"
}
